<div class="reviews d-flex js--reviews">
    <div class="review-like d-flex align-items-center js--review">
        <svg class="cursor-pointer">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-ok"></use>
        </svg>
        <p>Да</p>
    </div>
    <div class="review-dislike d-flex align-items-center js--review">
        <svg class="cursor-pointer">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-ok"></use>
        </svg>
        <p>Нет</p>
    </div>
</div>