<div class="accordion-row js--accordion-wrap {{#if accordion_open}} open {{/if}}">
    <div class="accordion-title cursor-pointer d-flex justify-content-between align-items-center w-100 js--accordion-button">
        <h3>{{accordion_title}}</h3>
        <div class="accordion-icon">
            <svg class="d-block">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-plus"></use>
            </svg>
        </div>
    </div>

    <div class="accordion-content js--accordion-content ps-md-2">
        <div class="accordion-content-padding">
            <p>Чтобы применить промокод, нужно: </p>
            <ol>
                <li>Ввести его в специальное поле в интернет-магазине.</li>
                <li>Если промокод сработал, сумма заказа изменится, а скидка пропишется отдельно.</li>
            </ol>
        </div>
    </div>
</div>