<div class="accordion js--accordion">
    {{> faq/faq-item accordion_title="Как получить купон Lamoda?"}}
    {{> faq/faq-item accordion_title="Как получить купон Lamoda?"}}
    {{> faq/faq-item accordion_title="Как получить купон Lamoda?"}}
    {{> faq/faq-item accordion_title="Как получить купон Lamoda?" accordion_open=true}}
</div>