<div class="stars d-flex align-items-center justify-content-sm-center mt-1 mt-sm-3">
    {{> star/star width="100%"}}
    {{> star/star width="100%"}}
    {{> star/star width="100%"}}
    {{> star/star width="100%"}}
    {{> star/star width="50%"}}
    <p>4,5</p>
</div>