<div class="burger burger-menu d-flex flex-column justify-content-between" aria-label="menu">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
</div>