<div class="overlay overlay-promo d-flex align-items-start align-items-sm-center justify-content-center">
    <div class="overlay-wrap">
        <svg class="overlay-close cursor-pointer">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-close2"></use>
        </svg>
        <div class="overlay-wrap__content d-flex flex-column align-items-center">
            <h2 class="text-center">Промокод 20% на всю женскую одежду Asos</h2>
            <div class="d-flex d-md-none flex-center mt-2">
                <svg class="overlay-clock">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-clock"></use>
                </svg>
                <p>25 ноября 2024</p>
            </div>

            <p class="mt-4 mt-sm-6 text-center">Скопируйте и вставьте этот код на asos.com</p>
            <div class="input-wrapper d-flex justify-content-center w-100 mt-2 js--copy">
                <input type="text" value="FGRT567SALE97656" readonly class="js--copy-input">
                <button class="btn btn-orange flex-center js--copy-btn" type="button">
                    Копировать
                </button>
            </div>
            <div class="mt-6 pt-md-1">
                <a href="/shop.html" class="btn btn-red flex-center">Перейти в магазин</a>
            </div>
            <div class="overlay-review w-100 d-flex justify-content-center align-items-center">
                <p class="me-3">Промокод сработал?</p>
                {{> review/review}}
            </div>
        </div>
    </div>
</div>
