<div class="overlay overlay-menu d-flex align-items-start align-items-sm-center justify-content-center d-md-none">
    <div class="overlay-wrap">
        <svg class="overlay-close cursor-pointer">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-close2"></use>
        </svg>
        <div class="overlay-wrap__content d-flex flex-column align-items-center">
            <div class="w-100 js--search">
                {{> search/search}}
            </div>
            <h2 class="text-center">Регистрируйтесь на нашем сайте
                и получайте выгодные кешбэки </h2>
            <div class="d-flex flex-wrap align-items-center mt-3">
                <a href="" class="btn btn-transparent-orange me-1">Войти</a>
                <button class="btn btn-border-orange">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
