<div class="overlay overlay-discount d-flex align-items-start align-items-sm-center justify-content-center">
    <div class="overlay-wrap">
        <svg class="overlay-close cursor-pointer">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-close2"></use>
        </svg>
        <div class="overlay-wrap__content d-flex flex-column align-items-center">
            <h2 class="text-center">Скидка20% на всю женскую одежду Lamoda</h2>
            <p class="mt-3 text-center">Действительна до: 28.05.25</p>
            <p class="mt-3 text-center">Переходите на сайт магазина и воспользуйтесь скидкой 20%</p>
            <div class="mt-6 pt-md-1">
                <a href="/shop.html" class="btn btn-red flex-center">Перейти в магазин</a>
            </div>
        </div>
    </div>
</div>
