input {
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: $font-weight;
  appearance: none;

  &::placeholder {
    color: var(--color-grey);
    font-weight: $font-weight;
  }

  &:focus,
  &:active {
    outline: none;
  }
}