:root {
    --color-primary-text: #000;
    --color-secondary: #B5B5B5;
    --color-grey: #919191;
    --color-greyHint: #F2F2F2;


    --color-greyText: #757575;
    --color-greyDark:  #AAAAAA;
    --color-greyDeep:  #585858;
    --color-greyBorder:   #B7B7B7;
    --color-greyBorder2:  #E7E7E7;
    --color-greySvg:  #949494;
    --color-greyLine:  #686868;
    --color-greyNav:  #D0D0D0;

    --color-orange: #FF9568;
    --color-orangeDark: #FF9900;
    --color-orangeBg: #FF8957;
    --color-yellow: #FFC52F;
    --color-yellowStar: #FFCA41;




    --color-promo: #E21235;
    --color-red: #FF5D42;
    --color-redHover: #FF583D;
    --color-redLight: #FB6D56;
    --color-redDark: #FF5D42;
    --color-redText:  #FF573C;


    --color-green: #17D329;
    --color-error: #E31717;


    --color-dark:  #1C1C1C;
    --color-light: #C8C8C8;
    --color-green-dark: #4CA042;
    --color-grey-secondary: #A0A0A0;
    --color-border: #DB9319;
}






