<div class="main-sidebar-top">
    <div class="sidebar-image">
        <img src="./assets/img/promocode/lamoda.svg" alt="asos">
    </div>
    {{> star/stars}}
    <div class="sidebar-content look-more js--look-more" data-more-content-row="4" data-more-only-mobile>
        <div class="sidebar-content__text content-to-hide js--look-more--content">
            <p>Lamoda является онлайн-ритейлером
                одежды, обуви и аксессуаров в России и СНГ,
                предлагающим более 1 000 подлинных
                мировых брендов и свыше 2 млн товаров.
                Lamoda предлагает быструю доставку,
                примерку перед покупкой и удобные
                условия возврата. Благодаря собственной
                курьерской службе LM Express,
                а также дистрибуционному центру компания
                осуществляет доставку товаров
                на следующий день после оформления
                заказа в более чем 150 населенных пунктах.</p>
        </div>
        <button class="btn btn-orange-link look-more--btn js--look-more--btn d-none mt-2" data-more-show="Подробнее" data-more-hidden="Скрыть">
            <span>Подробнее</span>
            <svg class="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-arr"></use>
            </svg>
        </button>
    </div>
</div>