<div class="main-sidebar-bottom mt-4">
    <a href="" class="btn btn-orange-link d-flex align-items-center">
        Добавить промокод
        <svg class="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-arr"></use>
        </svg>
    </a>
    <div class="sidebar-wrap mt-3 mt-lg-6">
        <h3>Способ оплаты</h3>
        <ul>
            <li>В кредит</li>
            <li>Безналичный расчет</li>
            <li>Подарочный сертификат</li>
        </ul>
    </div>
    <div class="sidebar-wrap mt-2 mt-lg-3">
        <h3>Доставка</h3>
        <p class="mt-1">Доставка по всей России <span class="d-block"></span>
            и СНГ осуществляется:</p>
        <ul>
            <li>Почта России</li>
            <li>СДЭК</li>
        </ul>
    </div>
    <div class="sidebar-wrap mt-2 mt-lg-3">
        <h3>Контакты</h3>
        <p class="mt-2">Телефон:<a href="tel:+78003332359" class="ms-2">8-(800)-333-23-59</a></p>
        <p class="mt-2">Почта:<a href="mailto:lamoda@.ru" class="ms-2">lamoda@.ru</a></p>
        <p class="mt-2">Сайт:<a href="www.lamoda.ru" class="ms-2">www.lamoda.ru</a></p>
    </div>
    <div class="sidebar-wrap mt-2 mt-lg-3">
        <h3>Похожие магазины</h3>
        <div class="d-flex flex-wrap mt-3 mt-md-2">
            {{> tag/tag title="Lacoste"}}
            {{> tag/tag title="Gap"}}
            {{> tag/tag title="Asos"}}
            {{> tag/tag title="Amazon"}}
            {{> tag/tag title="Calvin Klein"}}
            {{> tag/tag title="Best Buy"}}
            {{> tag/tag title="Walmart"}}
            {{> tag/tag title="Ebay"}}
        </div>
    </div>
    <div class="sidebar-wrap sidebar-statistics mt-2 mt-lg-3">
        <div class="d-flex align-items-center">
            <svg class="me-2 me-md-1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-fire"></use>
            </svg>
            <p class="font-medium d-flex align-items-center"><span class="me-2 font-medium">Актуальные предложения:</span>7</p>
        </div>
        <div class="d-flex align-items-center mt-3">
            <svg class="me-2 me-md-1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-percent"></use>
            </svg>
            <p class="font-medium d-flex align-items-center"><span class="me-2 font-medium">Лучшая скидка:</span>50%</p>
        </div>
        <div class="d-flex align-items-center mt-3">
            <svg class="me-2 me-md-1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-update"></use>
            </svg>

            <p class="font-medium"><span class="me-2 font-medium">Последнее обновление:</span>13.05.2024</p>
        </div>
    </div>

</div>