<div class="coupons-table">
    <table class="w-100">
        <thead class="w-100">
            <tr class="w-100 coupons-table__title">
                <th>Тип купона:</th>
                <th>Описание:</th>
                <th>Дата окончания:</th>
            </tr>
        </thead>
        <tbody>
            {{> coupons/coupons-row text="Промокод 15% на новинки брендовой одежды" text2="Промокод 15%" promo=true}}
            {{> coupons/coupons-row text="Промокод 15% на новинки брендовой одежды" text2="Промокод 15%" promo=true}}
            {{> coupons/coupons-row text="Промокод 15% на новинки брендовой одежды" text2="Промокод 15%" promo=true}}
            {{> coupons/coupons-row text="До 60% скидки на новинки брендовой одежды" text2="Скидка 15%" }}
        </tbody>
    </table>
</div>