<tr class="">
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            {{#if promo}}
                <p class="promo">Промокод</p>
            {{else}}
                <p class="stock">Акция</p>
            {{/if}}
        </div>
    </td>
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            <p class="d-none d-md-block">{{text}}</p>
            <p class="d-md-none">{{text2}}</p>
        </div>
    </td>
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            <p class="d-none d-md-block">Истекает 25 мая 2024 мая</p>
            <p class="d-md-none">25.05.2024</p>
        </div>
    </td>
</tr>