<div class="breadcrumbs">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap">
            <a href="/">Главная</a>
            <svg class="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-arr"></use>
            </svg>
            <a href="/">Магазины</a>
            <svg class="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-arr"></use>
            </svg>
            <a href="/">Одежда</a>
            <svg class="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-arr"></use>
            </svg>
            <p>Asos</p>
        </div>
    </div>
</div>