<footer>
    <div class="container align-items-center">
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center w-100 flex-wrap ">
            <div class="footer-nav d-flex flex-shrink">
                <a href="">О нас</a>
                <a href="">Поддержка</a>
                <a href="">Контакты</a>
            </div>

            <a href="" class="d-flex flex-shrink">Условия обработки персональных данных</a>
            <a href="">Пользовательское соглашение</a>
            <div class="footer-language d-flex align-items-center">
                <a href="">RUS</a>
                <span></span>
                <a href="">ENG</a>
            </div>
        </div>
        <a href="/" class="footer-logo">
            <svg class="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/img/icon/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <p class="text-center">© 2024 All rights reserved. Promokod shop is a registered trademark of Promokod shop.
            Third-party trademarks belong to their respective owners. The presence of a third-party
            trademark does not imply an affiliation between Promokod shop and that third party,
            or that the third party endorses Promokod shop or its services</p>

        <div class="footer-search js--search">
            {{> search/search}}
        </div>
    </div>
</footer>

