<h3 id="{{shopid}}" class="mt-4 shop-title">{{title}}</h3>
<div class="row w-100 ">
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
    <div class="col-6 col-md-2 mt-2 mt-md-4">
        {{> shops/shop-card images="./assets/img/promocode/amazon.svg" title="amazon"}}
    </div>
</div>